@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --foreground-star: 179, 179, 179;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  background-image: radial-gradient(circle, rgb(var(--foreground-star)) 1px, rgb(var(--foreground-rgb)) 2px);
  background-size: 20px 20px;
  background-position: center center;
  width: 80%;
  margin: 0 auto;
  border-left: 4px solid #000;
}

.hr{
  position: fixed;
  bottom: 180px;
  left: 0px;
  border-top: 4px solid #000;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
